b {
    font-size:3em;
  }
  .p_img_w{
    width:60%; 
    margin:auto; 
     
    margin-top:60px; 
  
  }
  .img_w{
text-align:center; 
width:100%; 
margin:auto; 
  }
  
  .general_search_class{
    padding : 10px ; 
    margin:2px; 
    border:2px solid black ; 
    background-color: #ad3117;
    font-size:2em ; 
    color: aliceblue;
     
  }
  h5{
   height:400px; 
   overflow-y: scroll;
   
  }